.scrollbar
{padding: 15px;
	box-shadow: 3px 3px 3px 3px grey;
	margin:20px 20px 20px 20px;
	width: 80%;
	height: 71vh;
	overflow: auto;
	padding:10px;
	border:20px 20px 20px 20px;
	border-color:#c0c0c0;
	float:left;
}


.force-overflow
{
	min-height: 1500px;
}

#style-1::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 8px;
	background-color: #F5F5F5;
} 

#style-1::-webkit-scrollbar
{
	width: 8px;
	height:8px;
	background-color: red;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;	
	background-color: #3e9eff;
}



/* ---------------------Color Theme Boxes------------------------------- */
.boxes{
	width:20px;
	height:15px;
	margin:2px;
	float:left;
	}

.box{
	width:50px;
	height:40px;
	float:right;
	position:initial;
	}

.boxes:hover{
	width:22px;
	height:15px;
	}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0080ff;
    border-color: blue;
}
.pager-li{
	
	 margin-right: 0px;
	 margin-bottom: 0px;
	 color:black;
	 
}
.footer{
	float:right;
	padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;  
    height: 61.11111px;
    border-top-width: 0px;
     height: 35px;
     margin-bottom:5px;
	
}
.table-nav-after{
	margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    float:left;
   
}
.table-nav-before{
	margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    float:left;
   
}

.input-box{
	padding-right: 0px;
	padding-left: 10px;
	width: 537px;	
}

.update-delete{
	border:2px solid #0080ff;
	padding:7px
}

.search{
	display: inline-block;
    width:160px;
    float:right;
    margin-right:240px;
}	
.logo{
	margin-top:20px;
	margin-right:10px;
	float:right;
	color:#888;
	font-size:25px;
	
}

.admin{
	font-size:15px;
	color:#e0e0e0;
}
.login{
	font-size:20px;
	color:#e0e0e0;
}

.vertical_line{
	margin-right:50px;
	height:120px;
	width:1px;
	background: linear-gradient(#888,#6D6D6D);
	color:white;
	float:right;
}
@media screen and (max-width: 500px) {
	.vertical_line{display:none;}	
	.logo{
		text-align:center;
		float:none;
	}
}
/*------------------------------ul-----------------------------------*/
ul {
	list-style-type: none; 	  
    padding: 0px;
    overflow: hidden;
    margin-bottom:50px;
    }
li {
	display: inline-block;
    color: #888;
    text-align: center;
    padding: 1px 1px;  
    margin-right:20px;
    margin-bottom:5px;    
}
@media screen and (max-width: 1200px) {
	 li a{
		display: inline-block;
	    color: #888;
	    text-align: center;
	    padding: 1px 1px;
	    text-decoration: none;
	    float: none;
	    margin-right:20px;
	    margin-bottom:5px;
	    }

	}

.check-icon-size{
	width: 25px;
    height: 25px;
}

.table>tbody>tr>td {
	padding: 15px;
	text-align:center;
	font-family:Verdana;
	font-size:15px;
	}

 .table>thead>tr>th {
	 padding: 15px;
	 font-family:Verdana;
	 font-size:16px;
	 text-align:center;
	 background-color:#9fcfff;
  		
  	}
.delete{
	border-radius: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-color: #0080ff;
  	}
.create{
    border-radius: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-color: #0080ff;
   }
.selection{
	float:right;
	margin-right: 300px; 
  	}
.header{
	color:#ECECEC; 
  	padding-top: 5px;
  	padding-bottom: 10px;
  	padding-left: 30px;
  	margin-bottom: 0px;
  	margin-top: 0px;
    background: linear-gradient(#131212,#0080ff);  	
  }
 .main-panel{
 	background-color: #b9dcff;
  	margin-bottom: 0px;	
  	padding:0px;
 }
.p-body{
	background-color: #b9dcff;
  	margin-bottom: 0px;	
  	padding:5px;
  	padding-bottom:0px;
  	margin-top: 5px;
  	}
.main-table{
	height:55vh;
  	margin-bottom: 5px;
  	margin-top: 8px;
  	border:2px solid #b9dcff;
  }
.table-scroll {
	padding: 15px;
	box-shadow: 1px 1px 1px 1px #0080ff;
	margin:20px 20px 20px 20px;
	width: 80%;
	height: 71vh;
	overflow: auto;
	padding:10px;
	border:20px 20px 20px 20px;
	border-color:#c0c0c0;
	float:left;
	}
.profile{
	padding: 15px;	    
	box-shadow:  1px 1px 1px 1px #0080ff;
    margin:20px 20px 20px 2px;
	width: 16%;
	height: 71vh;
	overflow: auto;
	padding:25px;
	border:20px 20px 20px 20px;
	border-color:#0080ff;
	float:left;
	}
.back-panel{
	width: 100%;
	height: 71vh;
}

@media screen and (max-width: 1580px) {
	.profile{
	padding: 15px;	    
	box-shadow:  1px 1px 1px 1px #0080ff;
	margin:20px 20px 20px 20px;
	width: 96%;
	height: 25vh;
	overflow: auto;
	padding:25px;
	border:20px 20px 20px 20px;
	border-color:#c0c0c0;
	float:left;
	}
.search{
	display: inline-block;
    width:160px;
    float:right;
    margin-right:0px;
	} 
.scrollbar{
	width: 96%;
	}
.selection{
	margin-right: 0px; 
	}	
}

@media screen and (max-width: 500px) {
	.header{
		text-align:center;
		   }
	.delete, .create{
		margin-bottom:15px;
	    }
	.selection{
	     margin-top:15px;
		 float:left;
		 }
}

	
	